<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <h1>Detail</h1>
    <a href="/book">List Book</a>
    <hr/>
    <div>
        <div>Id: <span th:text="${book.id}"></span></div>
        <div>Title: <span th:text="${book.title}"></span></div>
        <div>Quantity: <span th:text="${book.quantity}"></span></div>
        <div>Price: <span th:text="${book.price}"></span></div>
    </div>
</body>
</html>